services:

  neo4j:
    image: neo4j:5.22
    container_name: neo4j
    environment:
      NEO4J_AUTH: neo4j/test12345
    ports:
      - "7474:7474"
      - "7687:7687"
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker

    depends_on:
      - neo4j